/* ----------- BODY (GENERAL) ----------- */
.text {
  font-family: var(--text);
  font-size: var(--textSize);
  font-weight: var(--textWeight);
}
.title {
  font-family: var(--title);
  font-size: var(--titleSize);
  font-weight: var(--titleWeight);
}
.textForm {
  font-family: var(--text);
  font-size: var(--textForm);
  font-weight: var(--textWeight);
}

/* ---------------- HEADER ---------------- */
.headerBody {
    width: 100%;
    height: 100px;
    background-color: var(--first);
}
.navBody {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.returnHomePage {
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.returnHomePage-link {
  color: var(--white);
}
.fa-house{
  width: 30px;
  height: 30px;
}
.navBody-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navBody-listElement {
  padding: 0 10px;
}
.borderRight{
  border-right: 1px solid var(--white);
}
.navBody-listElement--link{
  text-decoration: none;
  color: var(--white);
}
.navBody-listElement--link:hover{
  text-decoration: underline;
}

/* ----------------- MAIN ----------------- */
.mainBody {
  padding: 20px 25px;
  height: 100%;
}

/* ----------- MAIN - LOGIN PAGE ---------- */
.container {
  margin-top: 20px;
  padding: 0 15px 20px 15px;
}
.form {
  margin-top: 20px;
  padding: 0 15px 20px 15px;
}
.loginForm {
  border-bottom: 1px solid var(--black);
}
.formSection {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.label {
  color: var(--second);
}
.inputLogin {
  width: 200px;
  height: 18px;
  padding: 5px 10px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}